    <%= render 'layouts/menu' %>
<div class="container">
          <div class="row">
            <div class="col-md-4">
   					<a href="http://rubyonrails.org/">
							<%= image_tag("space_deep.jpg", alt:"Space", class: "img-responsive img-circle")%>
						</a>
              <h3 class="text-center">Type 1</h3>
              <p>Dummy Text..</p>
              <a href="#" class="btn btn-success">Book Now @ $599</a>
            </div>
 
            <div class="col-md-4">
   					<a href="http://rubyonrails.org/">
							<%= image_tag("space_deep.jpg", alt:"Space", class: "img-responsive img-circle")%>
						</a>
              <h3 class="text-center">Type 2</h3>
              <p>Dummy Text..</p>
              <a href="#" class="btn btn-danger">Book Now @ $899</a>
            </div>
 
            <div class="col-md-4">
   					<a href="http://rubyonrails.org/">
							<%= image_tag("space_deep.jpg", alt:"Space", class: "img-responsive img-circle")%>
						</a>
              <h3 class="text-center">Type 3</h3>
              <p>Dummy Text ...</p>
              <a href="#" class="btn btn-info">Book Now @ $699</a>
            </div>
          </div>
        </div>
